@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
body{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
}
:root{
    --primary-color: rgb(222, 166, 35);
    --mint: #b07619;
    --ofwhite: #e2e8f0;
  }

.fcontainer{

    padding: 0rem 1rem;
}
.ccontainer{
    text-align: center;
}
hr{
    margin: 2rem 0rem;
}
.link{
    text-decoration: none;
    padding: 0.3rem 1rem;
}
.p-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    margin: 0rem 1rem;
}
.u-list{
    list-style: none;
}
.nav-list{
    text-align: right;
}
.i-list{
    display: inline;
    padding: 0rem 1rem;
}
.k-list{
    background-color: beige;
}
.nav{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    border-bottom-left-radius: 1rem;
}
.nav .link{
    color:white;
}

.list{
    text-align: center;
    padding-inline-start: 0px;
    color: black;
    font-weight: bold;
    font-size: large;
    
}
.s-link{
    text-align: center;
    padding-inline-start: 0px;
}
.brand{
    font-weight: bold;
}

.link-active{
    font-weight: bold;
}

.hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero-heading{
    text-align: center;
}
.hero-name{
    color: var(--mint);
}
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.section h1{
    max-width: 600px;
    margin: auto;
    padding: .2rem 0rem;
}
.section p{
    max-width: 600px;
    margin: auto;
    padding-bottom: 1rem;
}
.grey{
    background-color: var(--ofwhite);
}
.footer{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
}
.footer a{
    color: white;
    text-decoration: none;
    padding: 
}